body *:not(script) {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
}

body svg *:not(script) {
    display: inline-block;
    flex-flow: initial;
}

html,
body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    border: 0;
}

main {
    height: 100vh;
    width: 100vw;
}

main>:first-child {
    width: 80vw;
    height: 100vh;
    background-color: white;
}

main>:last-child {
    width: 20vw;
    height: 100vh;
    flex-flow: column nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

aside>:first-child {
    height: 60vh;
    width: 100%;
    flex-flow: column nowrap;
    background-color: gray;
}

button {
    background-color: transparent;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    border-color: #0088ff;
    cursor: pointer;
    transition: background-color 200ms;
}

button:disabled {
    pointer-events: none;
    opacity: 0.5;
    background-color: darkgray;
}

button.cancel {
    border-color: #ff2200;
}

button:hover {
    background-color: #0088ff44;
}

button.cancel:hover {
    background-color: #ff220044;
}

button:active {
    background-color: #0088ff88;
}

button.cancel:active {
    background-color: #ff220044;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

.dialog-back {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #00000088;
}

.dialog-area>* {
    width: 75vw;
    height: 75vh;
    border-radius: 1.25vmin;
}

.dialog-back,
.dialog-area {
    justify-content: center;
    align-items: center;
}