::selection {
    background-color: transparent;
    color: inherit;
}

.transparent {
    pointer-events: none;
}

.rgroup text {
    cursor: default;
}

.rgroup>circle {
    fill: white;
}

.bond line {
    stroke: black;
    stroke-width: 1;
}

line.partial {
    stroke-dasharray: 5, 5
}

line.clickme {
    stroke: transparent;
    pointer-events: all;
    stroke-width: 25;
}

.transparent line.clickme {
    pointer-events: none;
}

svg.omit>.omittable {
    opacity: 0;
}