::selection {
    background-color: transparent;
    color: inherit;
}

.transparent {
    pointer-events: none;
}

.rgroup text {
    cursor: default;
}

.rgroup>circle:first-of-type {
    fill: transparent;
}

.rgroup.selected>circle:first-of-type {
    stroke: #0088ff88;
}

.rgroup>circle:last-of-type {
    fill: white;
}

.bond line {
    stroke: black;
    stroke-width: 1;
}

line.thonk {
    stroke-width: 10;
}

line.partial {
    stroke-dasharray: 5, 5
}

line.clickme {
    stroke: transparent;
    pointer-events: all;
    stroke-width: 25;
}

.transparent line.clickme {
    pointer-events: none;
}

svg.omit>.omittable {
    opacity: 0;
}