#tabs {
    padding: 10px;
}

#minimap {
    height: 40vh;
    width: 100%;
    background-color: lightgray;
}

#angle-calc>form,
#angle-calc {
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;
}

#angle-calc input {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

#angle-calc svg {
    height: 60%;
}

polygon {
    stroke: black;
    stroke-width: 0.5;
    fill: transparent;
}

#angle-calc text {
    font-size: 5px;
    fill: white;
    cursor: default;
}

#angle-calc text:hover {
    fill: blue;
    cursor: pointer;
}

#angle-calc text:active {
    fill: darkblue;
}

#atom-creator {
    flex-flow: column nowrap;
}

#atomic-number+div::after {
    font-size: 0;
    padding: 0;
    content: attr(data-title) ' ('attr(data-abbrev) ') is the 'attr(data-atomic-number) ' element.';
    transition: padding 200ms, font-size 200ms;
    transition-delay: 300ms;
    z-index: 2;
    color: white;
}

#atomic-number:hover+div::after,
#atomic-number+div:hover::after {
    padding: 10px;
    font-size: initial;
}

#angler path {
    fill: transparent;
    stroke: black;
    stroke-dasharray: 5, 5
}

#angler {
    pointer-events: none;
}