:root {
    --primary-bg: rgba(var(--primary-bg-red), var(--primary-bg-green), var(--primary-bg-blue), 1);
    --primary-bg-light: rgba(var(--primary-bg-red), var(--primary-bg-green), var(--primary-bg-blue), 0.25);
    --contrast-bg: rgba(var(--contrast-bg-red), var(--contrast-bg-green), var(--contrast-bg-blue), 1);
    --contrast-bg-light: rgba(var(--contrast-bg-red), var(--contrast-bg-green), var(--contrast-bg-blue), 0.25);
    --primary-focus: rgba(var(--primary-focus-red), var(--primary-focus-green), var(--primary-focus-blue), 1);
    --primary-focus-sel: rgba(var(--primary-focus-red), var(--primary-focus-green), var(--primary-focus-blue), 0.2);
    --primary-focus-hov: rgba(var(--primary-focus-red), var(--primary-focus-green), var(--primary-focus-blue), 0.25);
    --primary-focus-sel-hov: rgba(var(--primary-focus-red), var(--primary-focus-green), var(--primary-focus-blue), 0.35);
    --primary-focus-active: rgba(var(--primary-focus-red), var(--primary-focus-green), var(--primary-focus-blue), 0.5);
    --contrast-focus: rgba(var(--contrast-focus-red), var(--contrast-focus-green), var(--contrast-focus-blue), 1);
    --contrast-focus-sel: rgba(var(--contrast-focus-red), var(--contrast-focus-green), var(--contrast-focus-blue), 0.2);
    --contrast-focus-hov: rgba(var(--contrast-focus-red), var(--contrast-focus-green), var(--contrast-focus-blue), 0.25);
    --contrast-focus-sel-hov: rgba(var(--contrast-focus-red), var(--contrast-focus-green), var(--contrast-focus-blue), 0.35);
    --contrast-focus-active: rgba(var(--contrast-focus-red), var(--contrast-focus-green), var(--contrast-focus-blue), 0.5);
}